DB_HOST=localhost
DB_PORT=5432
DB_NAME=db
DB_USER=postgres
DB_PASSWORD=postgres

SECRET_KEY=72a82263aa1d0c0ae2f5ac3603ce3647bef7dbde99dc84db63e5ea8f8576cdd3
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

RECORDS_IN_PAGE=20